// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


// Mainstream guide example doc


.pagination {
  border-top: 1px solid #b1b4b6;
  padding: 15px 0 15px 0;
  margin-top: 80px;
  }

.pagination-subtitle-link {
  margin-top: -20px;
}

.pagination-link a, a:visited {
  text-decoration: none;
}




.info-notice {
  border-left: 10px solid #b1b4b6;
    padding: 1em 0 0.001em 1em;
    margin: 2em 0;
}

.related-navigation {
border-top: 2px solid #1d70b8;
padding-top: 10px;
}

.related-links li {
  line-height: 1.60;
}

.contents-list {
  padding-top: 50px;
  padding-bottom: 10px;
}

.contents li, ol {
  padding: 6px 25px 0px 0px;
}

.mainstream-guide-content {
  border-top: 1px solid #b1b4b6;
  padding-top: 10px;
}

// Pagination styling from GOV.UK Mainstream Guide

.gem-c-pagination {
  display: block;
  margin: govuk-spacing(8) 0;
}

.gem-c-pagination__list {
  margin: 0;
  padding: 0;
}

.gem-c-pagination__item {
  font-size: 16;
  line-height: 20;
  list-style: none;

  &:first-child {
    margin-bottom: govuk-spacing(4);
  }
}

.gem-c-pagination__link {
  display: block;
  text-decoration: none;
  padding-bottom: govuk-spacing(4);

  &:hover,
  &:active,
  &:visited {
    color: $govuk-link-colour;
  }

  &:hover,
  &:active {
    background-color: govuk-colour("light-grey");

    // Add govuk-link hover decoration to title if no label present
    .gem-c-pagination__link-text--decorated {
      @include govuk-link-decoration;
    }

    .gem-c-pagination__link-label,
    .gem-c-pagination__link-text--decorated {
      @include govuk-link-hover-decoration;
    }
  }

  &:focus {
    @include govuk-focused-text;

    .gem-c-pagination__link-title {
      border-top-color: transparent;
    }

    .gem-c-pagination__link-icon {
      fill: $govuk-text-colour;
    }
  }
}

.gem-c-pagination__link-title {
  display: block;
  border-top: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(3);
}

.gem-c-pagination__link-divider {
  @include govuk-visually-hidden;
}

.gem-c-pagination__link-text {
  font-size: 19px;
  font-weight: bold;
  margin-left: 20px;
  @include govuk-font(19, $weight: bold);
  margin-left: govuk-spacing(2);
}

.gem-c-pagination__link-icon {
  @include govuk-font($size: 24, $line-height: (33.75 / 27));
  display: inline-block;
  margin-bottom: 1px;
  height: .482em;
  width: .63em;
  fill: govuk-colour("dark-grey", $legacy: "grey-1");
}

.gem-c-pagination__link-label {
  display: inline-block;
  margin-top: .1em;
  margin-left: govuk-spacing(5);
  }
