
{% extends "layout.html" %}

{% block pageTitle %}
  Mainstream guide example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Citizenship and living in the UK</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Voting</a>
    </li>
  </ol>
  </div>
  </div>

  <div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds contents-list">
        <h1 class="govuk-heading-xl">
          How to vote
          </h1>

          <nav class="gem-c-contents-list part-navigation-container" aria-label="Pages in this guide" role="navigation" data-module="gem-track-click">
              <h2 class="gem-c-contents-list__title">
                Contents
          </h2>
              <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                    Overview

                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/how-to-vote/voting-and-coronavirus" data-track-options="{&quot;dimension29&quot;:&quot;Voting and coronavirus (COVID-19)&quot;}" href="/how-to-vote/voting-and-coronavirus">Voting and coronavirus (COVID-19)</a>

                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/how-to-vote/voting-in-person" data-track-options="{&quot;dimension29&quot;:&quot;Voting in person&quot;}" href="/how-to-vote/voting-in-person">Voting in person</a>

                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="/how-to-vote/postal-voting" data-track-options="{&quot;dimension29&quot;:&quot;Voting by post&quot;}" href="/how-to-vote/postal-voting">Voting by post</a>

                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="/how-to-vote/voting-by-proxy" data-track-options="{&quot;dimension29&quot;:&quot;Voting by proxy&quot;}" href="/how-to-vote/voting-by-proxy">Voting by proxy</a>

                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="/how-to-vote/voting-from-abroad" data-track-options="{&quot;dimension29&quot;:&quot;Voting from abroad&quot;}" href="/how-to-vote/voting-from-abroad">Voting from abroad</a>

                  </li>
              </ol>
          </nav>
          <!--
          <p class="govuk-body-s">Contents</p>
              <ol class="govuk-list govuk-body-s contents">
                <li>&mdash; Overview</li>
                <li>&mdash; <a href="#">Voting and coronavirus (COVID-19)</a></li>
                <li>&mdash; <a href="#">Voting in person</a></li>
                <li>&mdash; <a href="#">Voting by post</a></li>
                <li>&mdash; <a href="#">Voting by proxy</a></li>
                <li>&mdash; <a href="#">Voting from abroad</a></li>
                </ol>

                -->
          </div>

          <div class="govuk-grid-column-one-third">
          </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds mainstream-guide-content">
            <h2 class="govuk-heading-m">Overview</h2>
              <p>You need to be registered to vote before you can vote in UK elections or referendums.</p>

              <p> If you’re eligible, you can vote in person on the day of the election at a named polling station. You can also apply for a postal or proxy vote instead.</p>

              <p>Find out about voting safely during coronavirus (COVID-19).</p>

              <h2 class="govuk-heading-m">Ways of voting</h2>

              <p>You can vote:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li><a href="#">in person at a polling station</a></li>
                <li><a href="#">by post</a></li>
                <li>by asking someone else to vote for you (<a href="#">voting by proxy</a>)</li>
                </ul>

                <div class="info-notice">
                <p>You cannot vote online in any elections.</p>
                </div>

                 <h2 class="govuk-heading-m">Eligibility to vote</h2>

                  <p>You can vote when you’re:</p>

                  <ul class="govuk-list govuk-list--bullet">
                  <li>18 years old in England and Northern Ireland</li>
                  <li>16 years old in Scottish Parliament and local elections (and other elections when you’re 18)</li>
                  <li>16 years old in Welsh Parliament elections (and other elections when you’re 18)</li>
                  </ul>


                  <h2 class="govuk-heading-m">Elections you can vote in  </h2>
                  <p><a href="#">Different elections have different rules</a> on who can vote. </p>

                  <ul class="gem-c-pagination__list" data-module="gem-track-click">
                        <li class="gem-c-pagination__item gem-c-pagination__item--next">
                          <a href="/how-to-vote/voting-and-coronavirus" class="govuk-link gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/how-to-vote/voting-and-coronavirus" data-track-dimension="next" data-track-dimension-index="29">
                            <span class="gem-c-pagination__link-title">
                              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                              </svg>
                              <span class="gem-c-pagination__link-text">Next</span>
                            </span>
                              <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                              <span class="gem-c-pagination__link-label">Voting and coronavirus (COVID-19)</span>
                          </a>
                        </li>
                    </ul>
                  <!--
                    <div class="pagination">
                    <p class="govuk-heading-s"><a href="#" class="pagination-link">Next</a></p>
                    <p class="govuk-body-s pagination-subtitle-link"><a href="#">Voting and coronavirus (COVID-19)</a></p>
                    </div>
                  -->
                </div>

      <div class="govuk-grid-column-one-third">
        <div class="related-navigation">
          <h2 class="govuk-heading-s">Related content</h2>

          <ul class="govuk-list related-links">
            <li class="govuk-body-s"><a href="#">Register to vote</a></li>
            <li class="govuk-body-s"><a href="#">The electoral register and the 'open register'</a></li>
            <li class="govuk-body-s"><a href="#">Types of election, referendums, and who can vote</a></li>
            <li class="govuk-body-s"><a href="#">Proxy voting application forms</a></li>
            <li class="govuk-body-s"><a href="#">Apply for a postal vote</a></li>
            </ul>
      </div>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
